<fieldset class="form-group">
    <label for="patientId">{{'cmisDispense.patientId' | message}}</label>
    <input id="patientId" type="text" ng-model="vm.visit.patient_id" ng-disabled="true"  />
</fieldset>

<fieldset class="form-group">
    <label for="date">{{'cmisDispense.date' | message}}</label>
    <input id="date" type="date" ng-model="vm.date" required/>
</fieldset>

<fieldset class="form-group">
    <label for="notes">{{'cmisDispense.notes' | message}}</label>
    <textarea id="notes" ng-model="vm.notes"></textarea>
</fieldset>

<fieldset class="form-group">
    <label for="dispenser">{{'cmisDispense.dispenser' | message}}</label>
    <input id="dispenser" type="text" ng-model="vm.user.username" ng-disabled="true" />
</fieldset>

<fieldset class="form-group">
    <label for="facilityCode">{{'cmisDispense.facilityCode' | message}}</label>
    <input id="facilityCode" type="text" ng-model="vm.facility.code" ng-disabled="true"/>
</fieldset>

<fieldset class="form-group">
    <label for="visitId">{{'cmisDispense.visitId' | message}}</label>
    <input id="visitId" type="text" ng-model="vm.visitId" ng-disabled="true"/>
</fieldset>
