<h2>{{'cmisDispense.medications' | message}}</h2>
<section class="openlmis-table-container cmis-view">
    <table>
        <caption ng-if="!vm.clients.length">{{'cmisDispense.noMedicationFound' | message}}</caption>
        <thead>
            <tr>
                <th></th>
                <th>{{'cmisDispense.name' | message}}</th>
                <th>{{'cmisDispense.quantity' | message}}</th>
                <th>{{'cmisDispense.duration' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="medication in vm.medications">
                <td><input id="assigned" type="checkbox" ng-model="medication.assigned"/></td>
                <td>{{medication.name}}</td>
                <td><input id="quantity" type="text" ng-model="medication.quantity"/></td>
                <td><input id="duration" type="text" ng-model="medication.duration"/></td>
            </tr>
        </tbody>
    </table>
<openlmis-pagination/>
</section>
<fieldset class="form-group">
    <label for="substitute">{{'cmisDispense.substitute' | message}}</label>
    <select id="substitute"
            ng-model="vm.substitute"
            ng-options="substitute.name for substitute in vm.substitutes">
    </select>
</fieldset>
