<h2>{{'cmisDispense.medications' | message}}</h2>
<section  class="openlmis-table-container cmis-view">
    <table ng-repeat="prescription in vm.visit.prescriptions">
        <caption style="caption-side:top; border: none; background-color: inherit; margin: 0em; padding: 1em 0em; font-weight: bold;">Prescriber: {{prescription.prescriber}}</caption>
        <caption ng-if="!prescription.medications.length">{{'cmisDispense.noMedicationFound' | message}}</caption>
        <thead>
            <tr>
                <th></th>
                <th>{{'cmisDispense.name' | message}}</th>
                <th>{{'cmisDispense.dose' | message}}</th>
                <th>{{'cmisDispense.duration' | message}}</th>
                <th>{{'cmisDispense.interval' | message}}</th>
                <th>{{'cmisDispense.stockOnHand' | message}}</th>
                <th>{{'cmisDispense.balance' | message}}</th>
                <th>{{'cmisDispense.dispenseQuantity' | message}}</th>
                <th>{{'cmisDispense.substitute' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="medication in prescription.medications">
                <td>
                    <input
                        type="checkbox"
                        ng-model="medication.$selected"
                        ng-change="vm.addOrRemoveMedication(medication)"/>
                </td>
                <td>{{medication.drug_name}}</td>
                <td>{{medication.dose}}</td>
                <td>{{medication.duration}}</td>
                <td>
                    <div ng-if="!medication.hasOwnInterval">
                        {{medication.interval}}
                    </div>
                    <div ng-if="medication.hasOwnInterval">
                        {{medication.interval}}
                        <input
                            type="number"
                            ng-disabled="!medication.$selected"
                            ng-model="medication.ownInterval"
                            ng-init="medication.ownInterval=0"
                            min="0"
                            step="1"
                            style="width: 15%;">
                    </div>
                </td>
                <td openlmis-invalid="{{medication.$errors.noOrderable ? 'openlmisForm.required' : '' | message}}">{{ (medication.$errors.noOrderable) ? medication.$errors.noOrderable : medication.orderable.stockOnHand}}</td>
                <td>{{medication.balance}}</td>
                <td>{{medication.quantity=vm.calculateQuantity(medication)}}</td>
                <td>
                    <select ng-disabled="!medication.$selected"
                        ng-model="medication.substitute"
                        ng-options="option.orderable.fullProductName for option in vm.selectedSubstitutes">
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<h2>{{'cmisDispense.substitute' | message}}</h2>
<section class="openlmis-table-container cmis-view">
    <table>
        <caption ng-if="!vm.orderableGroup">{{'cmisDispense.noSubstituteFound' | message}}</caption>
        <thead>
            <tr>
                <th>{{'cmisDispense.name' | message}}</th>
                <th>{{'cmisDispense.dispenseQuantity' | message}}</th>
                <th>{{'cmisDispense.stockOnHand' | message}}</th>
                <th>{{'cmisDispense.balance' | message}}</th>
                <th>{{'cmisDispense.addSubstitute' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="groups in vm.orderableGroup">
                <td>{{groups[0].orderable.fullProductName}}</td>
                <td>
                    <input
                        type="number"
                        min="0"
                        ng-disabled="!groups[0].$selected"
                        max="{{groups[0].stockOnHand}}"
                        step="1"
                        openlmis-invalid="{{groups[0].$errors.quantityInvalid ? 'openlmisForm.required' : '' | message}}"
                        ng-model="groups[0].quantity"/>
                </td>
                <td>{{groups[0].stockOnHand}}</td>
                <td>
                    <div ng-if="groups[0].$selected">
                    <input
                        type="text"
                        ng-disabled="true"
                        min="0"
                        max="groups[0].stockOnHand"
                        value="{{groups[0].balance = groups[0].stockOnHand - groups[0].quantity}}"/>
                    </div>
                </td>
                <td>
                    <input
                        type="checkbox"
                        ng-attr-id="{{groups[0].orderable.id}}"
                        ng-model="groups[0].$selected"
                        ng-change="vm.addOrRemoveSubstitute(groups[0])"/>
                </td>
            </tr>
        </tbody>
    </table>
</section>
