<fieldset class="form-group">
    <label for="patientId">{{'cmisDispense.patientId' | message}}</label>
    <input id="patientId" type="text" ng-model="vm.visit.patient_id" ng-disabled="true"  />
</fieldset>

<fieldset class="form-group">
    <label for="date">{{'cmisDispense.date' | message}}</label>
    <input id="date" type="date" ng-model="vm.date" required/>
</fieldset>

<fieldset class="form-group">
    <label for="prescriber">{{'cmisDispense.prescriber' | message}}</label>
    <input id="prescriber" type="text" ng-model="vm.user.username"  required />
</fieldset>

<fieldset class="form-group">
    <label for="notes">{{'cmisDispense.notes' | message}}</label>
    <textarea id="notes" ng-model="vm.notes"></textarea>
</fieldset>

<fieldset class="form-group">
    <label for="dispenser">{{'cmisDispense.dispenser' | message}}</label>
    <select id="dispenser" ng-model="vm.dispense.dispenser" required ng-options="dispenser as dispenser.username for dispenser in vm.dispensers.users track by dispenser.user_id"></select>
</fieldset>

<fieldset class="form-group">
    <label for="facilityCode">{{'cmisDispense.facilityCode' | message}}</label>
    <input id="facilityCode" type="text" ng-model="vm.facility.code" ng-disabled="true"/>
</fieldset>

<fieldset class="form-group">
    <label for="visitId">{{'cmisDispense.visitId' | message}}</label>
    <input id="visitId" type="text" ng-model="vm.visitId" ng-disabled="true"/>
</fieldset>
